# .github/workflows/deploy.yml: Deploys the web page to GitHub Pages.
---
name: deploy-web-to-github-pages

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout-code
        uses: actions/checkout@v6.0.2

      - name: deploy-to-gh-pages
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs
